.issue-tracker {
  background-color: #efefef;
}

.sidebar {
  transition: width 1s linear;
  width: 250px;
  height: inherit;
  z-index: 1;

  &.close {
    width: 0px;
    overflow: hidden;
  }

  &.open {
    width: 250px;
  }
}

.header {
  width: 100%;
}

.section {
  margin-top: 40px;
}

.inputs {
  width: 300px;
}

@media screen and (max-width: 575px) {
  .sidebar.open {
    position: absolute;
  }
}
