<div class="home h-auto">
  <div class="container-md">
    <i class="d-block text-center pt-5">
      <img src="/assets/code-alpha-logo.jpg" height="50" width="250" class="company-logo pe-auto">
      <span class="heading text-uppercase pe-auto px-2">Tasks</span>
    </i>
    <div class="row my-5">
      <div class="col-lg-4 col-sm-6 d-flex justify-content-center">
        <figure class="snip1563 ">
          <img src="/assets/task-1-images/task-1.jpg" alt="sample110" />
          <figcaption>
            <p>Task 1</p>
            <h3>Recipe Book Website</h3>
          </figcaption>
          <a routerLink="task-1"></a>
        </figure>
      </div>
      <div class="col-lg-4 col-sm-6 d-flex justify-content-center">
        <figure class="snip1563">
          <img src="/assets/task-2-images/task-2.jpg" alt="sample110" />
          <figcaption>
            <p>Task 2</p>
            <h3>Social Media Dashboard</h3>
          </figcaption>
          <a routerLink="task-2"></a>
        </figure>
      </div>
      <div class="col-lg-4 col-sm-6 d-flex justify-content-center">
        <figure class="snip1563 ">
          <img src="/assets/task-3-images/task-3.jpg" alt="sample110" />
          <figcaption>
            <p>Task 3</p>
            <h3>IssueTracker System</h3>
          </figcaption>
          <a routerLink="task-3"></a>
        </figure>
      </div>
    </div>
  </div>
</div>
