.heading {
  color: #060F82;
  font-family: Arial;
  font-size: 31px;
  position: absolute;
  top: 61px;
  font-weight: bold;
}

.snip1563 {
  background-color: #a1a1a1;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 5px;
  width: 300px;
  overflow: hidden;
  position: relative;
  height: 200px;
  border-radius: 50px;
}

.snip1563 *,
.snip1563 *:before,
.snip1563 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1563 img {
  backface-visibility: hidden;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.snip1563:before,
.snip1563:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #3863B1;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1563:before {
  -webkit-transform: skew(-30deg) translateX(-75%);
  transform: skew(-30deg) translateX(-75%);
}

.snip1563:after {
  -webkit-transform: skew(-30deg) translateX(-75%);
  transform: skew(30deg) translateX(-75%);
}

.snip1563 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
}

.snip1563 figcaption:before,
.snip1563 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3863B1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1563 figcaption:before {
  -webkit-transform: skew(-30deg) translateX(-95%);
  transform: skew(-30deg) translateX(-95%);
}

.snip1563 figcaption:after {
  -webkit-transform: skew(30deg) translateX(-95%);
  transform: skew(30deg) translateX(-95%);
}

.snip1563 h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 5px;
  margin: 5px 0 0 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1563 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1563:hover h3 {
  opacity: 0.9;
}

.snip1563:hover:before {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1563:hover:after {
  -webkit-transform: skew(30deg) translateX(-30%);
  transform: skew(30deg) translateX(-30%);
}

.snip1563:hover figcaption:before {
  -webkit-transform: skew(-30deg) translateX(-50%);
  transform: skew(-30deg) translateX(-50%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1563:hover figcaption:after {
  -webkit-transform: skew(30deg) translateX(-50%);
  transform: skew(30deg) translateX(-50%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

p {
  font-size: 13px;
  font-weight: 600;
  margin: 0px;
  padding: 1px 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.coming-soon {
  font-size: 25px;
  position: relative;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
