<div class="social-media-header bg-white">
  <div class="container-sm">
    <div class="d-flex justify-content-between social-media-navbar">
      <div class="section-one h-100 d-flex align-items-center">
        <i class="bi bi-linkedin fs-2 text-primary "></i>
        <div class="input">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Search" class="form-control mx-2 ps-4 py-1 shadow-none">
        </div>
      </div>
      <div class="section-two d-flex align-items-center">
        <ul class="nav">
          <li class="text-black-50 text-center pe-auto p-2 d-lg-none">
            <i class="bi bi-search fs-5"></i>
          </li>
          <li class="text-black-50 text-center pe-auto p-2 active">
            <i class="bi bi-house-door-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">Home</p>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <i class="bi bi-people-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">My Network</p>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <i class="bi bi-briefcase-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">Jobs</p>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <i class="bi bi-chat-dots-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">Messaging</p>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <i class="bi bi-bell-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">Notifications</p>
          </li>
          <li class="text-black-50 text-center pe-auto p-2 pe-4 border-end">
            <div class="dropdown text-black-50">
              <a class="profile-dropdown text-black-50 text-decoration-none" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/task-2-images/user-profile-with-open-to-work.jpg" class="rounded-circle" width="25" height="25">
                <p class="dropdown-toggle fs-10 lh-1 mb-0">Me </p>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <div class="dropdown text-black-50">
              <a class="profile-dropdown text-black-50 text-decoration-none" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-grid-3x3-gap-fill fs-5"></i>
                <p class="fs-10 m-0 lh-1 dropdown-toggle">For Business</p>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>
          <li class="text-black-50 text-center pe-auto p-2">
            <i class="bi bi-bag-plus-fill fs-5"></i>
            <p class="fs-10 m-0 lh-1">Jobs</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
