.social-media-navbar {
  height: 50px;

  .input {
    position: relative;
    .bi-search {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }
  }

  .fs-10 {
    font-size: 10px;
  }

  li:hover, .profile-dropdown:hover {
      color: black !important;
    }

    .active {
      color: black !important;
      border-bottom: solid;
    }
}


@media screen and (max-width: 991px) {
  .input {
    display: none;
  }
  .fs-10 {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .section-two ul li:nth-child(3n),
  .section-two ul li:nth-child(7)~li {
    display: none;
  }

  li:nth-child(7) {
    padding-right: 8px !important;
    border: silver !important;
  }
}
