<div class="recipe-header bg-white">
  <div class="container-md">
    <div class="row py-3">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <div class="col-md-3 col-6 d-flex align-items-center">
            <h3 class="fw-bold pe-auto">Food Delivery</h3>
          </div>
          <div class="col-6 d-none d-md-flex justify-content-center align-items-center">
            <div class="input-group rounded-2 py-2">
              <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Bengalore</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Agra</a></li>
                <li><a class="dropdown-item" href="#">Ahmedabad</a></li>
                <li><a class="dropdown-item" href="#">Ajmer</a></li>
                <li><a class="dropdown-item" href="#">Agra</a></li>
                <li><a class="dropdown-item" href="#">Ahmedabad</a></li>
                <li><a class="dropdown-item" href="#">Ajmer</a></li>
                <li><a class="dropdown-item" href="#">Agra</a></li>
                <li><a class="dropdown-item" href="#">Ahmedabad</a></li>
                <li><a class="dropdown-item" href="#">Ajmer</a></li>
              </ul>
              <input type="text" placeholder="Search for restaurant, cuisine or a dish" class="form-control border-0 border-start shadow-none" aria-label="Text input with dropdown button">
            </div>
          </div>
          <div class="col-md-3 col-6 d-flex justify-content-center align-items-center">
            <ul class="nav">
              <li class="px-2 pe-auto h-underline">Log in</li>
              <li class="px-2 pe-auto h-underline">Sign up</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
